body{
    background-color: #E2E2E2;
}

#banner{
    background-image: url("./../materials/images/banner.jpg");   
    height: 416px; 
    margin-bottom: 30px;
}

#container{
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3{
    color: #002b5a;
    margin-bottom: 42px;
    text-transform: uppercase;
}

h1{
    font-size: 42px;
    font-weight: 200;
}

h2{
    font-size: 40px;
    font-weight: 200;
}

h3{
    font-size: 15px;
    font-weight: normal;
}

a{
    cursor: pointer;
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

/*header content*/
p{
    color: #333;
    font-size: 18px;
}

/*light-gray box*/
p{
    color: #333;
    font-size: 12px; 
    text-align: justify;
}


/************************************************************/
/*grid*/
/************************************************************/
.grid{
    background-color: #F3F3F3;
    border-bottom: 5px solid #E2E2E2;
    padding: 20px 30px;
}



/************************************************************/
/*product div*/
/************************************************************/
.product-grid{
    /*padding: 10px 5px;*/
    background-color: #F9F9F9;
    border-left: #F3F3F3 5px solid;
    border-right: #F3F3F3 5px solid;
}
.product-title{
    color: #002b5a;
    font-size: 17px;
}

.product-subtitle{
    color: #4987ca;
    font-size: 13px;
}

.product-text{
    font-size: 13px;
    color: #666666;
    height: 60px;
}

.product-img{
    width:100%;
}

.product-link{
    font-size: 13px;
    color: #002b5a;
}



/************************************************************/
/*buttons*/
/************************************************************/
.light-button{
    padding: 8px 16px;
    background-color: #ffffff;
    color: #002b5a;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px #fff inset;
}

.dark-button{
    background-color: #002b5a;
    color: #ffffff;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25), 0 2px #fff inset;
}



/************************************************************/
/*search box*/
/************************************************************/
.search{
    background-color: #EEEEF0;
}
.search h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.search p{
    color: #002b5a;
    margin-bottom: 5px;
    font-size: 12px;
}
.search option{
    color: #002b5a;
    font-size: 20px;
}

